<a href="https://colab.research.google.com/github/sajjadshahkarami/twitterScrapper/blob/main/extract_emojis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import re

In [3]:
df=pd.read_excel('all_tweets.xlsx')

In [4]:
text=df['tweet']

In [87]:
RE_EMOJI = r'([\U00010000-\U0010ffff])'

In [88]:
emojis=text.str.extract(RE_EMOJI)

In [92]:
emojis.value_counts().to_csv('emojis_counts.csv')

In [97]:
emo=pd.read_csv('emojis_counts.csv')

In [105]:
emo.head(20)

   Unnamed: 0     0
0           😂  1809
1           😁   282
2           😐   275
3           🤣   259
4           🥲   249
5           😔   239
6           😅   212
7           😭   188
8           🤦   180
9           😍   172
10          🥺   150
11          😑   136
12          💔   131
13          🙂   120
14          🚶   118
15          👇   104
16          🌹    99
17          😄    97
18          🙏    96
19          🤔    93